@charset "UTF-8";


:root {
    --cor1:#0FF2DB;
    --cor2:#15273E;
    --cor3:#0D1A2D;
    --cor4:#7589A9;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family= Montserrat :ital,wght@0,500;1,700 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,700&display=swap');

 body {
    display: flex;
    background-color: var(--cor3);
    width: 100vw;
    height: 100vh;
    padding: 40px 15px;

    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--cor2);
    max-width: 375px;
    min-width: 20%;
    height: 580px;
    padding: 25px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 15px #091527a9;

}

#div_equilibrium {
    background-image: url(../imagens/image-equilibrium.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    min-width: 250px;
    height: 285px;
    border-radius: 10px;
}

#div_equilibrium_hover {
    max-width: 300px;
    min-width: 250px;
    height: 285px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

#div_equilibrium_hover:hover {
    background-image: url(../imagens/icon-view.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #0FF2DB;
    opacity: 0.5;
}

#div_bottom {
    margin-top: 15px;
    max-width: 300px;
    min-width: 250px;
}

#div_bottom > h1 {
    font-family: 'Montserrat' sans-serif;
    font-size: 1.3em;
    color: white;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

#div_bottom > h1:hover {
    color: #0FF2DB;
}

#pg_sub-h1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    color: rgba(255, 255, 255, 0.455);
    padding: 10px 0px 0px 0px;
}

.inline_block {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.209);
    padding: 15px 0px;
}

span {
    display: inline-flex;
    
}

#span1 {
    font-family: 'Frances' sans-serif;
    font-weight: 700;
    margin-right: 25%;
    color: #0FF2DB;
}

#span2 {
    font-family: 'Frances' sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.455);
}


span >.img_etherium_clock {
    padding-right: 10px;
}

#div_avatar {
    display: flex;
    width: 100%;
    margin-top: 20px;

    align-items: center;
}

#pg_avatar {
    color: rgba(255, 255, 255, 0.455);
    padding-left: 8px;
}

#pg_avatar > strong {
    color: white;
}

#pg_avatar > strong:hover {
    color: #0FF2DB;
    cursor: pointer;
}

#img_avarta {
   width: 40px;
   margin-right: 10px;
   border: 1px solid white;
   border-radius: 100%;
   
}
